# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Env variables
.env

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Alembic (Database Migrations)
migrations/__pycache__/
migrations/versions/__pycache__/
